.page {
  &__header-image {
    margin-bottom: 50px;
  }

  &__image {
    margin: 36px 0;
  }

  &__carousel {
    margin-bottom: 80px;
  }

  &__inner-title {
    margin-top: 55px;
  }

  @include breakpoint(large down) {
    &__carousel {
      margin-bottom: 40px;
    }

    &__aside {
      margin: 20px 0;
    }
  }
}
