.link-tel {
  color: $primary-color;
  border: 0;
  font-size: 24px;
  font-weight: 400;
}

.u-plain {
  margin: 0;
}

.u-mb35 {
  margin-bottom: 35px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt50 {
  margin-top: 50px;
}
