svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='28', viewbox='0 0 17 28')
  g(transform='translate(-1320 -3713)')
    path(d='M1323.68 3727.5l11.11-11.3a.71.71 0 0 0 0-1 .69.69 0 0 0-.98 0l-11.6 11.8a.71.71 0 0 0 0 1l11.6 11.79a.67.67 0 0 0 .98 0 .71.71 0 0 0 0-1z')
