extends base

block content
  section.section.section_white.section_inner.section_plain-bottom
    .row
      .column
        .breadcrumbs
          li
            a(href="/") Главная
          li
            a(href="/") О клинике
          li
            a(href="/") Врачи
          li Махмутов Динар Маратович
    .doctor-card
      .row.doctor-card__container
        .large-6.column.doctor-card__info-container
          h1.doctor-card__title Махмутов Динар Маратович
          .doctor-card__study Доктор наук
          .doctor-card__info
            .doctor-card__info-item
              .doctor-card__info-title Специальность:
              .doctor-card__info-value Стоматолог-терапевт
            .doctor-card__info-item
              .doctor-card__info-title Стаж:
              .doctor-card__info-value 15 лет
          .doctor-card__info
            .doctor-card__info-item
              .doctor-card__info-title Клиника:
              .doctor-card__info-value Муштари, 12А
          .doctor-card__button
            button.button.button--long.u-plain.large(data-open="call-modal") Записаться на прием
        .show-for-large.large-6.column
          img(src="https://gazizzz.github.io/MedExpert/images/doctor_large.png")
    section.section_content
      .row
        .column
          h1 О враче
          p Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия. Таким образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития.
          p Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития. Задача организации, в особенности же укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации модели развития. Равным образом новая модель организационной деятельности играет важную роль в формировании систем массового участия. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
          h1.page__inner-title Профессиональные навыки и услуги
          p Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия. Таким образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития.
          ul.styled-list
            li Название навыка или услуги
            li Название навыка или услуги
            li Название навыка или услуги
            li Название навыка или услуги
            li Название навыка или услуги
            li Название навыка или услуги
          h1.page__inner-title Образование
          ul.styled-list
            li 1994 г. — Российский государственный медицинский университет им. Н.И. Пирогова, лечебное дело.
            li 1996 г. — клиническая ординатура, кафедра клинической эндокринологии и диабетологии Российской медицинской академии последипломного образования МЗ РФ, эндокринология.
            li 1998 г. — аспиратура, кафедра клинической эндокринологии и диабетологии Российской медицинской академии последипломного образования МЗ РФ, «Эндокринология».
            li 1999 г. — защита кандидатской диссертации. Тема: «Диагностика и критерии эффективности терапии эндокринной офтальмопатии».
          h1.page__inner-title Повышение квалификации
          ul.styled-list
            li «Эндокринология»;
            li «Андрология и гинекологическая эндокринология детского и подросткового возраста».
          h1.page__inner-title Отзывы
          ul.doctor-feedback
            each val in [1,2,3]
              li.doctor-feedback__item
                .doctor-feedback__header
                  | Константин Константинопольский
                  span.doctor-feedback__date 12 января 2018г.
                p.doctor-feedback__body Повседневная практика показывает, что укрепление и развитие структуры позволяет оценить значение новых предложений. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития. Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке новых предложений.
