footer.footer
  .row
    .large-8.column
      ul.address-list.no-bullet
        li.address-list__item
          a.footer__link(href="/") Поликлиника Муштари, 12А
        li.address-list__item
          a.footer__link(href="/") Поликлиника Сибгата Хакима, 52
        li.address-list__item
          a.footer__link(href="/") Детская поликлиника Сибгата Хакима, 50
        li.address-list__item
          a.footer__link(href="/") Клиника Дружковых (Маммологический центр)
    .large-4.column.footer__call
      a.footer__link.link-tel(href="tel:+78435903333") +7(843) 590-33-33
      div
        a.footer__link(href="/") Обратная звязь

  nav.nav.footer__nav
    .row
      .column
        ul.nav__list.no-bullet
          li.nav__item
            a.nav__link.footer__nav-link(href="/") Услуги и цены
          li.nav__item
            a.nav__link.footer__nav-link(href="/") О клинике
          li.nav__item
            a.nav__link.footer__nav-link(href="/") Расписание врачей
          li.nav__item
            a.nav__link.footer__nav-link(href="/") Акции и Новости
          li.nav__item
            a.nav__link.footer__nav-link(href="/") Отзывы
          li.nav__item
            a.nav__link.footer__nav-link(href="/") Контакты
  .row.footer__info
    .column.text-center
      p.footer__desc Внимание! Информация, размещённая на данном сайте, ни в коем случае не должна использоваться читателями для самостоятельной постановки диагноза или самолечения! Информация на сайте размещена исключительно в целях исполнения обязанностей, предусмотренных Федеральным законом «О защите прав потребителя» и не является рекламой. Правовая информация. Любое использование (копирование) информации с данного сайта возможно только с разрешения правообладателя, полученного в письменном виде.
      p.u-plain
        | Разработка и продвижение сайтов&nbsp;
        a.footer__link.footer__site(href="/") aaccent
