.header-info
  .row
    .large-8.column
      ul.address-list.no-bullet.hide-for-small-only
        li.address-list__item
          a.address-list__link(href="/") Поликлиника Муштари, 12А
        li.address-list__item
          a.address-list__link(href="/") Поликлиника Сибгата Хакима, 52
        li.address-list__item
          a.address-list__link(href="/")  Детская поликлиника Сибгата Хакима, 50
        li.address-list__item
          a.address-list__link(href="/") Клиника Дружковых (Маммологический центр)
    .large-4.column.header-info__right
      .header-info__social
        a.header-info__tel.link-tel(href="tel:+78435903333") +7(843) 590-33-33
        .header-info__social-icons
          a.icon.icon_social.icon_vk(href="/") Vkontakte
          a.icon.icon_social.icon_instagram(href="/") Instagram
      .header-info__time
        | Сегодня работаем до
        strong  20:00

.header-nav
  .row
    .column.header-nav__top
      a.header-nav__logo(href="/")
        img(src="https://gazizzz.github.io/MedExpert/images/logo.png", alt="Медэксперт")
      ul.header-nav__actions.no-bullet.show-for-large
        li
          img.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/results.png", alt="Результаты анализов")
          a.header-nav__actions-link(data-open="call-modal") Результаты анализов
        li
          img.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/doctor.png", alt="Вызов врача на дом")
          a.header-nav__actions-link(data-open="call-modal") Вызов врача на дом
        li
          img.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/notice.png", alt="Записаться на прием")
          a.header-nav__actions-link(data-open="call-modal") Записаться на прием
        li
          img.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/feedback.png", alt="Оставить отзыв")
          a.header-nav__actions-link(data-open="call-modal") Оставить отзыв
nav.nav
  .row
    .column
      .title-bar(data-responsive-toggle='nav-menu', data-hide-for='large')
        button.menu-icon(type='button', data-toggle='nav-menu')
      ul.nav__list.no-bullet#nav-menu
        li.nav__item.hide-for-large
          img.nav__icon.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/results.png", alt="Результаты анализов")
          a.nav__action-link.header-nav__actions-link(data-open="call-modal") Результаты анализов
        li.nav__item.hide-for-large
          img.nav__icon.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/doctor.png", alt="Вызов врача на дом")
          a.nav__action-link.header-nav__actions-link(data-open="call-modal") Вызов врача на дом
        li.nav__item.hide-for-large
          img.nav__icon.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/notice.png", alt="Записаться на прием")
          a.nav__action-link.header-nav__actions-link(data-open="call-modal") Записаться на прием
        li.nav__item.hide-for-large
          img.nav__icon.header-nav__actions-icon(src="https://gazizzz.github.io/MedExpert/images/feedback.png", alt="Оставить отзыв")
          a.nav__action-link.header-nav__actions-link(data-open="call-modal") Оставить отзыв
        li.nav__item.dropdown
          a.nav__link(href="/") Услуги и цены
          ul.dropdown__list
            li.dropdown__item
              a.dropdown__link(href="/service.html")
                | Услуги 1
            li.dropdown__item
              a.dropdown__link(href="/service.html")
                | Услуги 2
            li.dropdown__item
              a.dropdown__link(href="/service.html")
                | Услуги 3
            li.dropdown__item
              a.dropdown__link(href="/service.html")
                | Услуги 4
            li.dropdown__item
              a.dropdown__link(href="/service.html")
                | Услуги 5
            li.dropdown__item
              a.dropdown__link(href="/service.html")
                | Услуги 6
        li.nav__item
          a.nav__link(href="/") О клинике
        li.nav__item
          a.nav__link(href="/") Расписание врачей
        li.nav__item
          a.nav__link(href="/") Акции и Новости
        li.nav__item
          a.nav__link(href="/") Отзывы
        li.nav__item
          a.nav__link(href="/") Контакты
