extends base

block content
  include partials/news-item
  section.section.section_white.section_inner.schedule
    .row
      .column
        .breadcrumbs
          li
            a(href="/") Главная
          li
            a(href="/") Акции и новости
          li В Медэксперт Детство новые пакеты услуг
    .row
      .column
        h1 В Медэксперт Детство новые пакеты услуг
    .text-center
      img.page__header-image(src="https://gazizzz.github.io/MedExpert/images/news.jpg")
    .row
      main.large-9.columns
        h1 Почему выбирают нас
        p Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия. Таким образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития.
        p Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития. Задача организации, в особенности же укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации модели развития. Равным образом новая модель организационной деятельности играет важную роль в формировании систем массового участия. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
        img.page__image(src="https://gazizzz.github.io/MedExpert/images/drugs.jpg")
        p Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом представляет собой интересный эксперимент проверки соответствующий условий активизации. Не следует, однако забывать, что сложившаяся структура организации способствует подготовки и реализации новых предложений.
        p С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
        h2 Новости
        .row
          each val in [1,2,3]
            .medium-4.columns.text-center
              +news-item(val)
      aside.page__aside.large-3.columns
        .appointment
          .appointment__image
            img(src="https://gazizzz.github.io/MedExpert/images/notice_large.png", alt="Записаться на прием к врачу")
          .appointment__title Записаться на прием к врачу
          button.button.expanded.appointment__button(data-open="call-modal") Записаться
  include partials/appointment
