link(rel="stylesheet", href="styles/fonts.css")
link(rel="stylesheet", href="https://gazizzz.github.io/MedExpert/vendors/slick-carousel/slick/slick.css")
script(src="https://gazizzz.github.io/MedExpert/vendors/jquery/dist/jquery.min.js")
script(src="https://gazizzz.github.io/MedExpert/vendors/foundation-sites/dist/js/foundation.min.js")
script(src="https://gazizzz.github.io/MedExpert/vendors/slick-carousel/slick/slick.min.js")
script(src="https://gazizzz.github.io/MedExpert/vendors/fontfaceobserver/fontfaceobserver.js")
script(src="scripts/app.js")
