extends base

block content
  section.section.section_white.section_inner
    .row
      .column
        .breadcrumbs
          li
            a(href="/") Главная
          li Услуги и цены
    .row
      .column
        h1 Услуги и цены
        include partials/services

  section.section.section_rules
    .row
      .column
        .section__header
          h1
            | ОБЩИЕ ПРАВИЛА ПОДГОТОВКИ ПАЦИЕНТА
            br
            | К ИССЛЕДОВАНИЯМ
          .section__header-notice.notice.show-for-large !
        ul.styled-list
          li Пластиковый контейнер для исследований необходимо приобрести в аптеке.
          li По возможности, рекомендуется сдавать кровь утром, в период с 8 до 10 часов, натощак (не менее 8 часов и не более 14 часов голода, питье – вода, в обычном режиме), накануне избегать пищевых перегрузок.
          li Если вы принимаете какие-то лекарственные препараты – следует проконсультироваться с врачом по поводу целесообразности проведения исследования на фоне приема препаратов или возможности отмены приема препарата перед исследованием, длительность отмены определяется периодом выведения препарата из крови.
          li Алкоголь – исключить прием алкоголя накануне исследования
          li Курение – не курить минимально в течение 1часа до исследования.
          li Исключить физические и эмоциональные стрессы накануне исследования.
          li После прихода в лабораторию отдохнуть (лучше – посидеть) 10-20 минут перед взятием проб крови.
          li Нежелательно сдавать кровь для лабораторного исследования вскоре после физиотерапевтических процедур, инструментального обследования и других медицинских процедур. (Исследование крови на ПСА проводится до проведения биопсии предстательной железы, или не ранее 2х месяцев после).
          li При контроле лабораторных показателей в динамике рекомендуется проводить повторные исследования в одинаковых условиях – в одной лаборатории, сдавать кровь в одинаковое время суток и пр.
          li Минимальные требования (тесты на инфекции, экстренные исследования): – желательно натощак (4-6 часов).

  include partials/appointment
